@import url('https://fonts.cdnfonts.com/css/cascadia-code');

nav {
    background-color: #4c9da7;
    padding: 10px;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

li {
    display: inline-block;
    margin: 0 20px;
    font-family: 'Cascadia Code';
}

.icon {
    width: 20px;
    height: 20px;
}

body {
    margin: 0;
}

#anunt {
    background-color: white;
    padding: 5px;
    border-radius: 10px;

}
div.search {
    background-color: #c7e5f1;
    width: 100%;
    padding: 40px;
}
.navbutton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4c9da7;
    color: black;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.navbutton:hover {
    background-color: rgb(26, 78, 124);
}

.search_div {
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: #c7e5f1;
}

.search_input {
    padding: 10px;
    border: 2px solid #c5c5c5;
    outline: none;
    font-size: 16px;
    width: 1000px
}

h1 {
    text-align: center;
    font-family: 'Cascadia Code';
}

.categorii_div {
    margin-top: 50px;
}